<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Package Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 50px;
            background-color: black;
            color: lightgray;
            text-align: center;
        }
    </style>
    <%- include('partials/navbarAdmin')%>
</head>

<body>
    <div>
        <form action="/admin/list/add" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" name="price">
            </div>
            <div class="form-group">
                <label for="duration">Duration</label>
                <input type="text" class="form-control" name="duration">
            </div>
            <div style="margin-left: 44%">
                <div class="form-group">
                    <input type="file" name="myImg">
                </div>
            </div>
            <div style="text-align: center">
                <button type="submit">Create</button>
            </div>
        </form>
    </div>
    <div class="footer">
        <p>© 2020 Drop N' Klin. All Rights Reserved</p>
    </div>
</body>

</html>