<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Package Admin</title>
</head>
<body>
  <h1>Add Package Admin</h1>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/admin/list">list</a></li>
        <li><a href="/admin/transaction">transaction</a></li>
        <li><a href="/logout">logout</a></li>
    </ul>
    <form action="/admin/list/add" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" name="price">
        </div>
        <div class="form-group">
            <label for="duration">Duration</label>
            <input type="text" class="form-control" name="duration">
        </div>
        <button type="submit">Create</button>
    </form>
</body>

</html>