<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeUser</title>
</head>
<body>
    <h1>INI HOME USER</h1>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/list">list</a></li>
        <li><a href="/myorder">myorder</a></li>
        <li><a href="/logout">logout</a></li>
    </ul>
</body>
</html>