<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>HOME</title>
</head>
<ul>
  <% if(role){ %> 
    
  <% } %> 
  <a href="/">
    <li>home</li>
  </a>
  <% if(role){ %> 
    <a href="/list">
      <li>List</li>
    </a>
    <a href="/packages">
      <li>Packages</li>
    </a>
    <a href="/logout">
      <li>logout</li>
    </a>
  <% } else { %> 
    <a href="/register">
      <li>register</li>
    </a>
    <a href="/login">
      <li>login</li>
    </a>
  <% } %> 
</ul>
<body>
  <h1>HOME</h1>
</body>

</html>