<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>List</title>
</head>
<body>
  <h1>List</h1>
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/list">list</a></li>
    <li><a href="/myorder">myorder</a></li>
    <li><a href="/logout">logout</a></li>
  </ul>

  <ol>
    <% data.forEach(i => { %>
      <li><a href="/order/<%=i.id%>"><%=i.name%></a></li>
    <% }) %>
  </ol>
</body>

</html>